---
import Layout from '../layouts/Layout.astro';
import Alert from '../components/Alert.astro';
import Heading from "../components/Heading.astro";
import Item from '../components/Item.astro';

import { Projects } from "../data/data.ts"
import { Connections } from "../data/data.ts"
---

<Layout title="funnydusto.com" description="let's describe something." image="/seo/image_a.png">
    
    <!-- Hero -->
    <div class="flex flex-col w-full max-w-5xl gap-3">
        <div class="w-full h-24 bg-center bg-cover bg-hero-cover border-b-2 border-zinc-600"></div>
        <Heading heading="funnydusto" subheading="dustin coia"/>
        <p class="font-sans text-base text-zinc-50">ui/ux & visual design & digital illustration</p>
    </div>
    
    <!-- Alert (comment out to disable) -->
    <Alert heading="let's work together">
        <div class="font-sans text-base text-zinc-200"><p>on your next idea, aspiration, or project. just <a class="underline underline-offset-2" href="mailto:funnydustobusiness@gmail.com?subject=Let's%20work%20together&body=What's%20your%20cool%20idea?">hit me up</a>.</p></div>
    </Alert>

    <Item>
        {
            Connections.map(data =>(
                <div>
                    <a class="text-2xl text-zinc-100 leading-6 font-brand underline underline-offset-2" href={data.url}>{data.label}</a>
                    <p class="">{data.subLabel}</p>
                </div>
            ))
        }   
    </Item>

    <Item>
        {
            Projects.map(data =>(
                <div>
                    <a class="text-2xl text-zinc-100 leading-6 font-brand underline underline-offset-2" href={data.url}>{data.label}</a>
                    <p class="">{data.subLabel}</p>
                </div>
                <p>{data.description}</p>
            ))
        }   
    </Item>
</Layout>